.popup {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
