.popup {
  /* max-width: 430px;
    height: 330px; */
  /* border-radius: 5px; */
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* top: 50%;
    right: 50%; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: #fff; */
  background-color: rgba(0, 0, 0, 0.7);
}
