.element__like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  border: 0;
  display: block;
  align-items: center;
  background-position: center;
  cursor: pointer;
  align-self: center;
  width: 22px;
  height: 19px;
  margin-right: 5px;
  background-color: inherit;
}
.element__like:hover {
  opacity: 0.5;
}
