.profile__edit-button {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 18px;
  margin-top: 10px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-image: url(../../../images/Vectorpen.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px #fff;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 900px) {
  .profile__edit-button {
    background-size: 7.5px;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 0;
    padding: 0;
  }
}
