.popup__save_inactive {
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #000;
}
.popup__save_inactive:hover {
  background-color: rgba(0, 0, 0, 0);
}
