.page{
    background-color: #000;
    max-width: 1280px;
    font-family: 'inter', 'Arial',  sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */

}