.popup__input {
  display: block;
  border: 0;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 44px;
  color: #000;
}

