.popup__input {
  display: block;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 50px;
  color: #000;
}

@media screen and (max-width: 900px) {
  .popup__input:first-child {
    margin-top: 52px;
  }
}

.popup__input:nth-last-child(2n) {
  margin-top: 37px;
}
