.popup__container {
  position: relative;
  width: 430px;
  /* min-height: 330px; */
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 900px) {
  .popup__container {
    width: 282px;
    margin-top: 36px;
  }
}
