.profile {
  display: flex;
  margin: 40px auto 51px;
  max-width: 880px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
    margin-top: 42px;
    margin-bottom: 36px;
  }
}
