.popup__info-save {
  width: 358px;
  height: 50px;
  margin-top: 48px;
  margin-bottom: 37px;
  background-color: #000;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.popup__info-save:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .popup__info-save {
    margin-top: 45px;
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
  }
}
