.popup__info-save {
  width: 358px;
  height: 50px;
  margin-top: 48px;
  margin-bottom: 38px;
  background-color: #000;
  border-radius: 2px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.popup__info-save:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 900px) {
  .popup__info-save {
    font-size: 14px;
    line-height: 17px;
    margin-top: 49px;
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
  }
}
