.header__logo {
  max-width: 142px;
  height: auto;
  /* padding: 0; */
  padding: 0 0 40px;
  margin: 0 auto 0 0;
  /* display: block;
    align-self: flex-start; */
}
@media screen and (max-width: 900px) {
  .header__logo {
    width: 104px;
    margin-left: 27px;
    padding: 0;
  }
}
