.header {
  margin: 45px auto 40px;
  max-width: 880px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
  /* display: flex;
  flex-direction: column; */
}
@media screen and (max-width: 900px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
    min-height: 56px;
    margin: 0 auto;
  }
}
