.profile__subtitle {
  width: 336px;
  margin: 0;
  padding-top: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 900px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 6px;
    width: 282px;
  }
}
