.profile__title {
  margin: 0;
  width: 294px;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-overflow: ellipsis;
}
@media screen and (max-width: 900px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin-left: 46px;
    width: 189px;
  }
}
