.profile__add-button {
  width: 170px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: inherit;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 100%;
    margin-top: 33px;
    background-size: 16px;
  }
}
