.elements {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}
@media screen and (max-width: 900px) {
  .elements {
    max-width: 282px;
    grid-template-columns: repeat(1, 1fr);
  }
}
