.popup__error {
  display: block;
  max-width: 330px;
  height: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  visibility: hidden;
  padding-left: 15px;
}
