.popup__error {
  display: block;
  max-width: 330px;
  height: 5px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  margin-top: 7px;
  visibility: hidden;
}
