.popup__close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/CloseIcon.svg);
  /* background-color: #000; */
  background-color: rgba(0, 0, 0, 0);
  /* color: #fff; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  /* border: none; */
}
.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
