.popup__item {
  display: block;
  margin-top: 40px;
  border: 0;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  outline: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.popup__item:last-of-type {
  margin: 30px auto 0;
}
@media screen and (max-width: 1023px) {
  .popup__item:first-child {
    margin-top: 0px;
  }
  .popup__item:last-of-type {
    margin: 29px auto 0;
  }
}
