.popup__container {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 430px;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px 25px 22px;
  }
}
