/* .popup__container {
  position: relative;
  width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 195px auto;
}
@media screen and (max-width: 1023px) {
  .popup__container {
    width: 282px;
    margin-top: 122px;
  }
} */
.popup__container {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 430px;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px 25px 22px;
  }
}
