.element__icon {
  background-image: url(../../../images/likeIcon.svg);
  background-repeat: no-repeat;
  border: none;
  display: block;
  align-items: center;
  background-position: center;
  cursor: pointer;
  align-self: flex-end;
  height: 19px;
  width: 22px;
  height: 19px;
  padding-right: 30px;
}
.element__icon:hover {
  opacity: 0.6;
}
