.popup__form {
  margin: 0 15px;
  /* margin-top: 24px;
  margin-bottom: 37px; */
}
@media screen and (max-width: 1023px) {
  .popup__form {
    margin: 0;
    /* margin-top: 45px;
    margin-bottom: 25px; */
  }
}
