.footer {
  max-width: 880px;
  margin: 0 auto;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 67px 0 60px;
}
@media screen and (max-width: 900px) {
  .footer {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
