.profile__button {
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 1px;
  background-color: inherit;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .profile__button {
    width: 100%;
    margin-top: 36px;
  }
}
