.popup__item {
  display: block;
  margin-top: 25px;
  border: 0;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__item:nth-last-child(2n) {
  margin-top: 29px;
}
