.popup__item {
  display: block;
  margin-top: 25px;
  border: 0;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  outline: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
/* @media screen and (max-width: 900px) {
  .popup__item:first-child {
    margin-top: 52px;
  }
} */

/* .popup__input:nth-last-child(2n) {
  margin-top: 37px;
} */
