.popup__title {
  margin: 34px auto 0px 36px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000;
  align-self: flex-start;
  background-color: transparent;
}
@media screen and (max-width: 900px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto;
    align-self: center;
  }
}
