.popup__save {
  border-style: none;
  margin-top: 43px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  padding: 14px 132px 18px 132px;
  border-radius: 2px;
  box-sizing: border-box;
  width: 358px;
}

.popup__save:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 767px) {
  .popup__save {
    margin-top: 47px;
    font-size: 14px;
    padding: 13px 82px 13px 82px;
    width: 238px;
  }
}
