.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  transition:all .2s linear;
  opacity:0;
  background-color: rgba(0, 0, 0, 0.5);
}
